# MongoDB Connection Settings
MONGODB_URI=mongodb://localhost:27017/homely_food

# Server Settings
PORT=3000
NODE_ENV=development

# Stripe Settings
STRIPE_SECRET_KEY=

# Google Maps API Key
VITE_GOOGLE_MAPS_API_KEY=
